#store{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
}
.card{
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgb(245, 255, 245);
    width: 376px;
    box-shadow: rgba($color: #000000, $alpha: .5) 0px 0px 5px;
}

.cardImg img{
    width: 100%;
}