<div class="card">
    <div id="hide"><ng-content select="[id]"></ng-content></div>
    <img [src]="" alt="" class="cardImg"><ng-content select="[image]"></ng-content>
    <div class="cardName"><ng-content select="[name]"></ng-content></div>
    <div class="cardDesc"><ng-content select="[desc]"></ng-content></div>
    <div class="cardPromo"><ng-content select="[promo]"></ng-content></div>
    <div class="price"><ng-content select="[price]"></ng-content></div>
    <button>Ajouter au panier</button>
</div>

